@import '/src/sass/colors';

.seguranca-container {
    width: 100%;
    gap: 5vw;

    .form-container {
        flex: 0.5;
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
            gap: 1vw;
        }

        button {
            width: 100%;
        }
    }
}