@import '/src/sass/colors';

.Cadastro-Page {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $background-color;
    align-items: center;
    justify-content: center;

    .form-container {
        flex-direction: column;
        background-color: white;
        width: 70vw;
        outline: solid 0.5vw $primary-color;
        border-radius: 2vw;
        padding: 3vw;
        color: $primary-text-color;
        gap: 1vw;

        label {
            margin-bottom: -0.65vw;
        }

        .name-container {
            width: 80%;
        }

        .logo-blue {
            width: 10vw;
            margin-left: auto;
        }
        
        .input-container {
            flex-direction: column;
            gap: 1vw;
        }

        .crm-uf-container {
            gap: 1vw;
        }

        .button-container {
            flex-direction: column;
            align-items: center;
            margin-top: 1vw;
            gap: 1vw;

            .default-button {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .Cadastro-Page {

        .form-container {
            height: 90vh;
            width: 80vw;
            padding: 6vw 3vw;
            gap: 4vw;
            justify-content: space-evenly;
            
            .crm-uf-container {
                flex-direction: column;
                gap: 4vw;
            }

            .name-container {
                width: 100%;
            }
            
            .top-container {
                margin-top: 20vw;
                position: relative;
            }

            .logo-blue {
                position: absolute;
                top: -20vw;
                left: 0;
                right: 0;
                margin-right: auto;
                width: 25vw;
            }
            
            .input-container {
                gap: 0;
            }

            .default-input {
                height: fit-content;
                padding: 2vw;
                margin-top: 1.5vw;
                margin-bottom: 3vw;
            }

            .button-container {
                
                .default-button {
                    height: fit-content;
                    padding: 2vw;
                }
            }
        }
    }
}