@import '/src/sass/colors';

.Planos-Component {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    justify-content: space-evenly;
    // gap: 5vw;
    padding: 0 4vw;

    .title-wrapper {
        display: flex;
        align-items: center;

        .title {
            flex-direction: column;
            gap: 1vw;
            margin-bottom: 2vw;
            flex: 0.6;
    
            h1 {
                font-size: 1.3vw;
            }
    
            p {
                font-size: 1vw;
                color: lighten($primary-text-color, 20)
            }
        }
    
        .warning-container {
            border-radius: 4vw;
            justify-content: center;
            align-items: center;
            flex: 0.4;
            height: 3vw;
    
            p {
                color: white;
            }
        }
    }


    .plans-container {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-around;
        gap: 4vw;
    }

    .plan-container {
        background-color: $toolbar-color;
        cursor: pointer;
        flex-direction: column;
        width: 100%;
        text-align: justify;
        border-radius: 2vw;
        padding-bottom: 2vw;
        gap: 2vw;
        margin: 0.5vw;
        
        .title-container {
            background-color: $background-color;
            border-top-right-radius: 2vw;
            border-top-left-radius: 2vw;
            padding: 1vw 0;
            width: 100%;
            justify-content: space-between;

            h1 {
                color: $secondary-text-color;
                font-size: 1.5vw;
                margin: auto;
            }
        }
        
        p {
            margin: 0 2vw;
            font-size: 1.1vw;
            color: $primary-text-color;
            font-weight: bold;
            opacity: 0.8;
        }
    
    }

    .buttons-container {
        width: 100%;
        justify-content: space-between;

        button {
            font-size: 1.5vw;
            height: fit-content;
            padding: 0.5vw 4vw;
        }

        .plans-pay-button {
            margin-left: auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Planos-Component {
        align-items: center;
        overflow-y: scroll;
        height: max-content;
        
        .plans-container {
            align-items: center;
            flex-direction: column-reverse;
            width: 80vw;
            margin: 2vw;
        }

        .title-wrapper {
            flex-direction: column;
            
            .title {
                margin-top: auto;
                gap: 4vw;
                margin: 0 4vw 2vw;
                flex: 0.6;
        
                h1 {
                    font-size: 6vw;
                    margin: 0 2vw;
                    text-align: center;
                }
        
                p {
                    font-size: 5vw;
                    text-align: center;
                }

            }
            
            .warning-container {
                text-align: center;
                margin: 1vw 4vw;
                padding: 1vw 2vw;
            }
        }

        .plan-container {
            border-radius: 4vw;
            padding: 4vw;

            .title-container {
                h1 {
                    font-size: 6vw;
                }
            }

            p {
                font-size: 4vw;
            }
        }

        .buttons-container {
            width: 80vw;

            button {
                font-size: 6vw;
                padding: 0.5vw 4vw;
            }
        }
    }
}