$background-color: #E4E4E4;
$toolbar-color: #F5F5F5;
$primary-color: #0C6397;
$primary-color-dark: #094a6f;
$title-color: #959595;
$primary-text-color: #8D8D8D;
$secondary-text-color: #6B6B6B;
$secondary-light-color: lighten($secondary-text-color, 20);
$line-color: #707070;
$etiquetinha-publico: rgba(16, 141, 98, 0.5);
$etiquetinha-privado: rgba(24, 16, 141, 0.5);
$check-green: #7BDCB5;
$red: #E12454;

:export {
    background: $background-color;
    primary: $primary-color;
    primary_dark: $primary-color-dark;
    primary_text: $primary-text-color;
    secondary_text: $secondary-text-color;
    secondary_light: $secondary-light-color;
    line: $line-color;
    check_green: $check-green;
    red: $red;

}