@font-face {
    font-family: Montserrats;
    src: url("../fonts/Montserrat-Regular.otf") ;
}

@font-face {
    font-family: Montserrats;
    src: url("../fonts/Montserrat-SemiBold.otf") ;
    font-weight: bold;
}

/* @font-face {
    font-family: Montserrats;
    src: url("fonts/Montserrat-Bold.otf") ;
    font-weight: bold;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrats;
}

/* html {
    height: 100%;
}

body {
    height: 100%;
} */

section {
    display: contents;
}
  
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
/* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    margin: 1.5vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(203, 203, 203);
    border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
    display: none;
}