@import '/src/sass/colors';

.Content-Component {
    width: 100%;    
    flex-direction: column;
    align-items: center;
    gap: 5vw;

    .autor-container {
        align-self: flex-end;
        gap: 1vw;
    }
}