@import '/src/sass/colors';

.Pagseguro-Page {
    display: flex;
    justify-content: space-between;
    padding: 2vw 0;
    width: 100%;

    h2 {
        color: $secondary-text-color;
        font-size: 4vw;
    }

    button {
        background-color: $primary-color;
        border-radius: 1.5vw;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1vw;
        margin-bottom: 0;
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        width: fit-content;
        padding: 1vw;
    }
    
    button:hover {
        background-color: #094a6f;
    }

    .payment-body {
        width: 100%;
        justify-content: space-around;
    }

    .texts-column {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .receipt-notice {
        display: flex;
        flex-direction: column;
        font-size: 1.5vw;
    }

    .qr-column {
        height: 20vw;
        object-fit: contain;
    }

}