@import '/src/sass/colors';

.Pagseguro-Page {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h2 {
        color: $secondary-text-color;
        font-size: 4vw;
    }

    button {
        background-color: $primary-color;
        border-radius: 1.5vw;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1.25vw;
        margin-bottom: 0;
        cursor: pointer;
        transition: 0.3s;
        user-select: none;
        width: fit-content;
        padding: 1vw;
    }
    
    button:hover {
        background-color: #094a6f;
    }

    .payment-body {
        width: 100%;
        justify-content: space-between;
    }

    .texts-column {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .receipt-notice {
        display: flex;
        flex-direction: column;
        font-size: 1.75vw;
    }

    .qr-column {
        height: 20vw;
        object-fit: contain;
    }
    
}

@media only screen and (max-width: 600px) {
    .Pagseguro-Page {

        h2 {
            font-size: 7vw;
            align-self: center;
        }

        p {
            align-self: center;
        }

        button {
            align-self: center;
            font-size: 5vw;
            padding: 3vw;
            border-radius: 9vw;
            margin: 4vw 8vw;
        }

        .receipt-notice {
            font-size: 5vw;
            align-items: center;
        }
    
        .payment-body {
            flex-direction: column;
        }

        .qr-column {
            margin-top: 4vw;
            align-self: center;
        }
    }
}
