@import '/src/sass/colors';

.restrito-container {
    width: 100%;
    flex-direction: column;
    align-items: center;

    .menu-container {
        width: 100%;
        justify-content: center;
        gap: 3vw;

        h1 {
            cursor: pointer;
        }
    }

    .contents-container {
        width: 100%;
        gap: 2vw;
        height: 30vw;
        overflow-y: scroll;

        .categories-container {
            flex-direction: column;
            gap: 0.5vw;

            p {
                cursor: pointer;
            }
        }

        .posts-container {
            flex-direction: column;
            overflow-y: scroll;
        }
    }
}