@import '/src/sass/colors';

.AdmPanel-Page {
    width: 100%;
    flex-direction: column;

    .top-container {
        width: 100%;
        align-items: center;
        margin-bottom: 1vw;

        .adm-icon {
            height: 4vw;
            width: auto;
            margin-right: 1vw;
        }

        .search-container {
            width: 100%;
            position: relative;

            form {
                width: 100%;
            }
        }

    }

    .panel-container {
        width: 100%;
        height: 28vw;
        flex-direction: row;

        .title-above-results {
            flex: 0.55;
            display: flex;
            flex-direction: column;

            #search-title {
                color: $adm-title;
                margin-bottom: 1vw;
                font-size: 2vw;

                #searched-text {
                    color: $title-color;
                    font-weight: 500;
                }
            }
        }
        
        .results-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50vw;
            overflow-y: scroll;
            gap: 1vw;
            padding-right: 0.5vw;
            margin-right: 1vw;
        }

        form {
            flex: 0.45;
            display: flex;
            flex-direction: column;
        }
    }
}

.skeleton {
    gap: 1vw;
}