@import '/src/sass/colors';

.Temporario-Page {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;

    .stages {
        flex: 0.3;
        flex-direction: column;
        align-items: center;
        color: $primary-text-color;
        gap: 1.5vw;

        .number {
            background-color: $toolbar-color;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 5vw;
            height: 5vw;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        }

        .stage-title {
            font-size: 2vw;
            color: $secondary-text-color;
        }

        .stage-description {
            font-size: 1.25vw;
            text-align: center;
        }

        .temp-forward-button {
            font-size: 1.25vw;
            padding: 0 2vw;
        }

        svg {
            width: 4vw;
            height: auto;
        }
    }

    hr {
        height: 13vw;
        opacity: 0.7;
    }

}

.Resignup-Component {
    width: 100%;

    .form-container {
        display: flex;
        width: 100%;

        .input-containers {
            flex-direction: column;
        }

        .temp-skills-select {
            flex-direction: column;
        }
    }
}