@import '/src/sass/colors';

.Temporario-Page {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;

    .stages {
        flex: 0.3;
        flex-direction: column;
        align-items: center;
        color: $primary-text-color;
        // gap: 1.5vw;
        justify-content: space-between;
        height: 20vw;

        .number {
            background-color: $toolbar-color;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 5vw;
            height: 5vw;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        }

        .stage-title {
            font-size: 2vw;
            color: $secondary-text-color;
        }

        .stage-description {
            font-size: 1.25vw;
            text-align: center;
        }

        .temp-forward-button {
            font-size: 1.25vw;
            padding: 0 2vw;
        }

        svg {
            width: 4vw;
            height: auto;
        }
    }

    hr {
        height: 13vw;
        opacity: 0.7;
    }

}

.Resignup-Component {
    width: 100%;
    color: $primary-text-color;
    
    .form-container {
        justify-content: space-between;
        display: flex;
        width: 100%;
        padding: 0 4vw;

        label, p {
            font-size: 2vw;
        }

        .input-containers {
            flex-direction: column;
            width: 49%;
        }

        .crm-uf-input {
            display: flex;
            align-items: center;

            .input-column {
                width: 50%;
                display: flex;
                flex-direction: column;
            }
        }

        .temp-skills-select {
            align-self: center;
            flex-direction: column;
            outline: $line-color solid 1px;
            padding: 2vw;
            width: 90%;
            border-radius: 0.3vw;
            margin: 1vw;

            .specialization-item {
                align-items: center;

                label {
                    font-size: 1.5vw;
                    color: $secondary-text-color;
                }
            }

        }

        .input-field {
            font-size: 1.25vw;
            border: none;
            outline: none;
            padding: 1.5vw 0;
            // background-color: $background-color;
            // margin: 1vw;
            // border-radius: 2vw;
        }

        textarea {
            resize: none;
            height: 100%;
            width: 100%;
        }

        button {
            font-size: 1.5vw;
            height: fit-content;
            width: fit-content;
            padding: 0.5vw 4vw;
            margin-top: auto;
        }

        .resignup-form-buttons{
            height: 100%;
            justify-content: space-between;
        }

        .resignup-submit-button {
            align-self: flex-end;
        }
    }

}

.NewPassword-Component {
}

.MuiDialog-container {
    width: 100vw;
}

ul.MuiList-root {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .Temporario-Page {
        flex-direction: column;
        gap: 6vw;

        .stages {
            height: 100%;
            gap: 2vw;

            .number {
                height: 12vw;
                width: 12vw;
                object-fit: contain;
            }

            .stage-title {
                font-size: 5vw;
            }

            .stage-description {
                font-size: 4vw;
            }

            .temp-forward-button {
                font-size: 4vw;
                height: fit-content;
                padding: 1vw 4vw;
            }

            svg {
                width: 10vw;
                height: auto;
            }
    }

        hr {
            height: 0;
            width: 60vw;
        }
    }

    .Resignup-Component {
        width: 100%;
        padding: 2vw;

        .form-container{
            width: 100%;
            flex-direction: column;

            label, p {
                font-size: 6vw;
            }

            input, select, textarea {
                font-size: 6vw;
            }

            .input-containers {
                width: 100%;
                gap: 4vw;
            }
            
            .temp-skills-select {
                gap: 4vw;
                padding: 4vw;
                margin: 4vw 0;

                .specialization-item {
                    label {
                        font-size: 6vw;
                        margin-left: 2vw;
                    }
                }
            }

            button {
                font-size: 6vw;
                padding: 1vw 4vw;
            }
    
            .resignup-form-buttons{
                margin-top: 8vw;
                
            }    
        }
    }
}