@import '/src/sass/colors';

.Temporario-Page {
    outline: 3px solid red;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;

    .stages {
        flex: 0.3;
        flex-direction: column;
        align-items: center;
        color: $primary-text-color;

        .number {
            background-color: $toolbar-color;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 5vw;
            height: 5vw;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        }
    }

}

.Resignup-Component {
    width: 100%;

    .form-container {
        display: flex;
        width: 100%;

        .input-containers {
            flex-direction: column;
        }

        .temp-skills-select {
            flex-direction: column;
        }
    }
}