@import '/src/sass/colors';

.MemberPanel-Component {
    height: 28vw;

    .inputs-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        flex-direction: column;

        .two-inputs-container {
            width: 100%;
            gap: 1vw;

            .InputMui-Component {
                flex: 0.5;
            }
        }

        .specializations-container {
            flex-direction: column;
        }
    }

    .buttons-container {
        width: 100%;
        gap: 1vw;

        button {
            flex: 1;
            font-weight: bold;
        }
    }
}