@import '/src/sass/colors';

.member-container {
    border-radius: 5vw;
    padding: 0.5vw;
    cursor: pointer;
    gap: 1vw;
    align-items: center;
    
    hr {
        height: 90%;
    }

    .photo-container {
        border: 2px solid $primary-color;
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
    }

    .info-container {
        flex-direction: column;
        justify-content: center;
        gap: 1vw;
        font-size: 0.9vw;
        color: $primary-text-color;
        font-weight: bold;
        width: 30%;

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .documents-container {
            gap: 1vw;

            hr {
                height: 1vw;
            }
        }
    }

    .plans-container {
        font-size: 0.8vw;

        .sweep-button-item {
            padding: 0.5vw 1.5vw;
            color: $primary-text-color;  
            flex: 1;  
        }
        
        .sweep-button-item-active {
            flex: 1;  
            padding: 0.5vw 1.5vw;
            border-radius: 5vw;
            background-color: $primary-color;
            color: white;
        }
    }
}