@import '/src/sass/colors';

.etiquetinha {
    align-items: center;
    justify-content: center;
    height: 1.2vw;
    border-radius: 2vw;
    width: 5vw;
    margin-left: 1vw;

    > p {
        color: white;
        font-weight: bold;
        font-size: 0.9vw;
    }
}

.publico {
    background-color: $etiquetinha-publico;
}

.privado {
    background-color: $etiquetinha-privado;
}