@import '/src/sass/colors';

.solicitacoes-container {
    width: 100%;
    flex-direction: column;
    gap: 2vw;

    form {
        width: 100%;
        display: flex;
        gap: 1vw;
        align-items: center;

        button {
            width: 15vw;
        }

        .InputMui-Component {
            width: 100%;
        }

    }

    .requests-history {
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
        height: 26vw;
        gap: 0.5vw;
    }
}