@import '/src/sass/colors';

.solicitacoes-container {
    width: 100%;
    flex-direction: column;
    gap: 2vw;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vw;

        button {
            width: 15vw;
        }

    }

    .requests-history {
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
        height: 22.5vw;
    }
}